.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Remove underlines from all a tags globally and on hover */
a, a:hover {
  text-decoration: none;
  color: inherit;
}


.offcanvas {
  background-color: #ffffff !important;
}
.offcanvas-body ul {
  width: 100% !important;
  list-style-type: none !important;
  padding: 0 !important;
}
.offcanvas-body ul li {
  padding: 0 !important;
  width: 100% !important;
  height: 50px !important;
  font-size: 24px;  
}
.offcanvas-body ul li:hover {
  background-color: #ece1f8;
}

.clickable-logo {
  color: #65428a;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px;
}
